html
  head
    title Embark - SimpleStorage Demo
    |     
    link(rel='stylesheet', href='css/app.min.css')
    |     
    script(src='js/app.min.js')
  |   
  body
    h3 Embark - SimpleStorage Demo
    |     
    div
      input.text(type='text', value='10')
      |       
      button.set Set Value
    |     
    div
      button.get Get Value
      |       
      br
      | value is 
      span.value
    |     
    .logs
